.user-container, .agent-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ddd;
    max-width: 70%;
    justify-content: center;
    margin: 0 auto;
    border-radius: 1em;
    margin-top: 1em
}

.user, .agent{
    display:grid;
    grid-template-rows: 1fr;
    align-items: center;
    background-color: #555;
    margin:1em;
    border-radius: 1em;
    min-height: 3em;
    min-width: 97%;
}

.user{
    grid-template-columns: 1fr 5fr 2fr 1fr;
}

.agent{
    grid-template-columns: 3fr 4fr 6fr;
}

.user .username, .agent .username{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content: flex-start;
}

.user .email, .agent .name{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content: center;
}

.user .name, .agent form{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content: center;
}

.agent form{
    display: grid;
    grid-template-columns: 3fr 3fr 1fr;
}

.user .role{
    justify-content: flex-end;
}

.subjectContainer{
    justify-content: center;
}

.status-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #ddd;
    max-width: 70%;
    margin: 0 auto;
    border-radius: 1em;
    margin-top: 1em
}

.status{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: #555;
    margin:1em;
    border-radius: 1em;
    min-height: 3em;
    min-width: 9em;
}
  
.status .status-text {
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
}

.subject-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ddd;
    max-width: 70%;
    justify-content: center;
    margin: 0 auto;
    border-radius: 1em;
    margin-top: 1em
}

.subject{
    display:grid;
    grid-template-columns: 2fr 2fr 10fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    background-color: #555;
    margin:1em;
    border-radius: 1em;
    min-height: 3em;
    min-width: 97%;
}

.subject .code{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content: flex-start;
}

.subject .subject-name{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content: center;
}

.subject .full-name{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content: center;
}

.subject button{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: end;
}

.year-title {
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}

.forms {
    display: flex;
    flex-direction: row;
}

.subject-form,
.status-form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
  max-width: 70%;
  border-radius: 1em;
  min-height: 3em;
  margin: 0 auto;
  margin-top: 1em;
}

.subject-form input[type="text"],
.status-form input[type="text"] {
  border-radius: 1em;
  border-style: solid;
  min-height: 2em;
  font-family: "Arial", sans-serif;
  font-size: 14px;
}

.subject-form input[type="text"]:focus,
.status-form input[type="text"]:focus {
  outline: none;
  border: 1px solid #6c757d;
}

input[type="submit"] {
  background-color: #4caf50;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

input[type="submit"], button {
    color: white;
    border: none;
    border-radius: 20px;
    padding: 4px 8px;
    font-size: 14px;
    cursor: pointer;
    margin-right: 5px;
    max-width: 25px;
}

select {
    border-radius: 1em;
    min-height: 2em;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    margin-right: 5px;
}

button {
    background-color: red;
}
  
button:hover {
    background-color: darkred;
}

button.disabled {
    background-color: #444;
}

.user-container,
.status-container,
.subject-container,
.agent-container,
.subject-form,
.status-form {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow for a 3D effect */
  color: #fff;
}

.cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-color: #ddd;
    max-width: 70%;
    justify-content: center;
    margin: 0 auto;
    border-radius: 1em;
    margin-top: 1em
}

.info-card {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
    background-color: #555;
    margin: 1em;
    border-radius: 1em;
    min-height: 200px;
    min-width: 200px;
    text-align: center; 
}


