.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
    max-width: 70%;
    justify-content: center;
    margin: 0 auto;
    border-radius: 1em;
    margin-top: 1em
}

.user{
    display:grid;
    grid-template-columns: 1fr 3fr 2fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    background-color: gray;
    margin:1em;
    border-radius: 1em;
    min-height: 3em;
    min-width: 97%;
}

.user .username{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content: flex-start;
}

.user .email{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content: center;
}

.user .name{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content: center;
}

.user .role{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content: flex-end;
}