body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
  }

  a{
    color: white;
    text-decoration: none;
  }
  
  header {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  h1 {
    margin: 0;
    font-size: 36px;
    font-weight: bold;
  }
  
  h2 {
    margin: 0;
    font-size: 18px;
    font-weight: normal;
  }
  
  #signup {
    display: flex;
  }
  
  #login,
  #register {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 5px;
    background-color: #1e90ff;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.2s;
  }

  #faq, #about, #contact{
    padding: 10px 20px;
    margin: 0 5px;
    color: #fff;
    text-decoration: none;
  }

  #login:hover,
  #register:hover {
    background-color: #0066cc;
  }
  
  #register {
    background-color: #ff1493;
  }
  
  #register:hover {
    background-color: #ff0066;
  }

  .hacker {
    font-family: 'Space Mono', monospace;
    font-size: clamp(3rem, 10vw, 10rem);
    color: #141414;
    padding-top: 0.6em;
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
    text-align: center;
  }
  
  .sub {
    font-family: 'Space Mono', monospace;
    font-size: clamp(1rem, 3vw, 3rem);
    color: #141414;
    padding-top: 0.1em;
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
    text-align: center;
  }
  
  .description{
    font-family: 'Space Mono', monospace;
    font-size: 1em;
    color: #141414;
    padding-top: 0.5em;
    padding-left: 20%;
    padding-right: 20%;
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
    text-align: center;
  }

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #686666;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
  }
  
  .footer-right {
    text-align: right;
  }

  .footer-left {
    text-align: left;
  }
 

