  .hacker {
    font-family: 'Space Mono', monospace;
    font-size: clamp(3rem, 10vw, 10rem);
    color: #141414;
    padding-top: 0.6em;
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
    text-align: center;
  }
  
  .sub {
    font-family: 'Space Mono', monospace;
    font-size: clamp(1rem, 3vw, 3rem);
    color: #141414;
    padding-top: 0.1em;
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
    text-align: center;
    
  }
  
  .description{
    font-family: 'Space Mono', monospace;
    font-size: 1em;
    color: #141414;
    padding-top: 0.5em;
    padding-left: 20%;
    padding-right: 20%;
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
    text-align: center;
    padding-bottom: 1.5em;
  }


  #ticket {
    background-color: #04AA6D;
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 75px;
    font-size: 24px;
    font-family: 'Space Mono', monospace;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.2s;
    text-align: center;
    line-height: 75px;
  }
  
  #ticket:hover {
    background-color: #45a049;
  }
  