.ticket-history {
    width: 70%;
    margin: 0 auto;
    margin-top: 2em;
    border-radius: 1em;
    padding-bottom: 1em;
    padding-top: 1em;
    background-color: #555;
}

.title{
    text-align: center;
    padding-bottom: 1em;
    font-weight: bolder;
    color: #fff;
}

.history-item {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #ddd;
}

.history-details {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.history-date {
    font-weight: bold;
    margin-right: 10px;
}

.history-user {
    color: #555;
}

.history-description {
    color: #777;
}

.back-button {
    text-align: center;
    margin-top: 20px;
  }
  
  .back-button form {
    display: inline-block;
  }
  
  .back-button button {
    color: #fff;
    background-color: #ffa600;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .back-button button:hover {
    background-color: #e16d00;
  }
  
